.login-form{
  position:relative;
}
.login-img{
  display: block;
  position: absolute;
  right:40px;
  top:-10px;
  width:200px;
  height:auto;
}
.modal-content{
  h4{
    font-size:18px;
    text-align: center;
  }
  .left-button{
    margin-left:66px;
  }
}