<footer class="page-footer red">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">高效背单词</h5>
                <p class="grey-text text-lighten-4">根据艾宾浩斯遗忘曲线——记忆过程记忆的保持在时间上是不同的，有短时记忆和长时记忆两种，定制高效背单词计划。</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">关于作者</h5>
                <ul>
                    <li><a class="white-text" href="https://Neras.github.io" target="_blank">个人博客</a></li>
                    <li><a class="white-text" href="https://github.com/Neras" target="_blank">GitHub</a></li>
                    <li><a class="white-text" href="https://www.zhihu.com/people/Joker-hing" target="_blank">知乎</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="/">Hing</a>
        </div>
    </div>
</footer>