<nav class="red">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Logo</a>
        <a href="javasript:;" data-activates="mobile-demo" class="button-collapse"><i
                class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html">艾宾浩斯遗忘曲线</a></li>
            <li><a href="badges.html">单词查找</a></li>
            <li><a href="collapsible.html">翻译</a></li>
            <li>
                {% if user %}
                <a href="/logout">欢迎{{ user.email }},开始背单词</a>
                {% else %}
                <a href="#modal" class="J-trigger">开始背单词</a>
                {{ user }}
                {% endif%}
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li>
                <a href="sass.html">艾宾浩斯遗忘曲线</a>
            </li>
            <li>
                <a href="badges.html">单词查找</a>
            </li>
            <li>
                <a href="collapsible.html">翻译</a>
            </li>
            <li>
                {% if user %}
                <a href="start.html">欢迎{{ user.nickname }},开始背单词</a>
                {% else %}
                <a href="#modal" class="J-trigger">开始背单词</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>

<!-- 登录 -->
<div id="modal" class="modal" style="max-width:600px;">
    <div class="modal-content">
        <h4>(●˘◡˘●)登录开始背单词</h4>
        <form class="col s12 login-form" action="/login" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <input id="email" type="text" class="validate" name="email">
                    <label for="email">账号</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="password" type="password" class="validate" name="password">
                    <label for="password">密码</label>
                </div>
            </div>
            <img class="login-img" src="../images/wombat-head-login.svg" alt="登录">
            <button type="submit" class="waves-effect waves-light btn red"><i class="material-icons left">vpn_key</i>登录</button>
            <a href="signup" class="waves-effect waves-light btn white black-text left-button">
                <i class="material-icons left black-text">supervisor_account</i>注册</a>
        </form>
    </div>
</div>