<div id="start" class="modal" style="max-width:400px;">
    <div class="modal-content">
        <h4>选择计划</h4>
        <form class="col s12 login-form" action="/start" method="post">
                <p>
                    <input name="plan" type="radio" id="primary"  value="primary">
                    <label for="primary">高中英语</label>
                </p>
                <p>
                    <input name="plan" type="radio" id="high" value="high">
                    <label for="high">大学英语</label>
                </p>
                <p>
                    <input name="plan" type="radio" id="cet4" value="cet4">
                    <label for="cet4">四级英语</label>
                </p>
                <p>
                    <input name="plan" type="radio" id="cet6" value="cet6">
                    <label for="cet6">六级英语</label>
                </p>
                <p>
                    <input name="plan" type="radio" id="kaoyan" value="kaoyan">
                    <label for="kaoyan">考研英语</label>
                </p>
                <p>
                    <input name="plan" type="radio" id="IELTS" value="IELTS">
                    <label for="IELTS">雅思</label>
                </p>
                <p>
                    <input name="plan" type="radio" id="TOEFL" value="TOEFL">
                    <label for="TOEFL">托福</label>
                </p>
                <button class="waves-effect waves-light btn white black-text left-button" >
                    <i class="material-icons left black-text">done</i>开始计划
                </button>
        </form>
    </div>
</div>