<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	{% block style %}
	<link href="/css/icon.css" rel="stylesheet">
	<link rel="stylesheet" href="/materialize/css/materialize.min.css">
	<link rel="stylesheet" href="/css/common.css">
	{% endblock %}
</head>
<body>
{% block header%}
	{% include '../widget/header.html'%}
{% endblock %}

{% block content%}{% endblock %}

{% block footer%}
	{% include "../widget/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="scripts/jQuery/jquery-1.12.1.min.js"></script>
<script src="/materialize/js/materialize.min.js"></script>
<script>
	$(document).ready(function(){
		$(".button-collapse").sideNav();
		$('.J-trigger').leanModal();
		$('.dropdown-button').dropdown({
					inDuration: 300,//动画时间
					outDuration: 300,
					constrain_width: true, // Does not change width of dropdown to that of the activator
					hover: false, // Activate on hover
					gutter: 0, // Spacing from edge
					belowOrigin: true, // Displays dropdown below the button
					alignment: 'left' // Displays dropdown with edge aligned to the left of button
				}
		);
	});
</script>
{% endblock %}
</body>
</html>