<!DOCTYPE html>
<html lang="zh-Hans">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	{% block style %}
	<link href="/css/icon.css" rel="stylesheet">
	<link rel="stylesheet" href="/materialize/css/materialize.min.css">
	<link rel="stylesheet" href="/css/common.css">
	{% endblock %}
</head>
<body>
{% block header%}
	{% include '../widget/header.html'%}
{% endblock %}

{% block content%}{% endblock %}

{% block footer%}
	{% include "../widget/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="scripts/jQuery/jquery-1.12.1.min.js"></script>
<script src="/materialize/js/materialize.min.js"></script>
<script>
	$(".button-collapse").sideNav();
</script>
{% endblock %}
</body>
</html>